---
- name: Create Netbox services top level directorires
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: 'root'
    group: 'root'
    mode: '0755'
  loop:
    - "{{ netbox_srv_netbox_dir }}"
    - "{{ netbox_srv_netbox_dir }}/configuration"
    - "{{ netbox_srv_netbox_dir }}/configuration/ldap"
    - "{{ netbox_srv_netbox_dir }}/media"
    - "{{ netbox_srv_netbox_dir }}/reports"
    - "{{ netbox_srv_netbox_dir }}/scripts"
  notify: Restart netbox

- name: Install Netbox env and config files
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ netbox_srv_netbox_dir }}/{{ item }}"
    owner: 'root'
    group: 'root'
    mode: '0644'
  loop:
    - "netbox.env"
    - "configuration/configuration.py"
    - "configuration/extra.py"
    - "configuration/logging.py"
    - "configuration/plugins.py"
    - "configuration/ldap/ldap_config.py"
    - "configuration/ldap/extra.py"
  notify: Restart netbox

- name: Create Netbox quadlet file
  containers.podman.podman_container:
    name: "{{ netbox_srv_netbox_name }}"
    image: "{{ netbox_srv_netbox_image }}"
    network: "{{ netbox_srv_network }}"
    state: quadlet
    quadlet_filename: "{{ netbox_srv_netbox_name }}"
    env_file: "{{ netbox_srv_netbox_dir }}/netbox.env"
    ports: "{{ netbox_srv_netbox_openport }}"
    volumes:
      - "{{ netbox_srv_netbox_dir }}/configuration:/etc/netbox/config:Z,ro"
      - "{{ netbox_srv_netbox_dir }}/media:/opt/netbox/netbox/media:Z,rw"
      - "{{ netbox_srv_netbox_dir }}/reports:/opt/netbox/netbox/reports:Z,rw"
      - "{{ netbox_srv_netbox_dir }}/scripts:/opt/netbox/netbox/scripts:Z,rw"
  notify: Restart netbox

- name: Create Netbox Podman Network
  containers.podman.podman_network:
    name: "{{ netbox_srv_network }}"
    state: present

- name: Create Postgresql container
  ansible.builtin.include_tasks: nb_service.yml
  vars:
    netbox_srv_svc_key: 'pgsql'
  when: netbox_srv_postgres_instance is false

- name: Create Redis container
  ansible.builtin.include_tasks: nb_service.yml
  vars:
    netbox_srv_svc_key: 'redis'
  when: netbox_srv_redis_instance is false

- name: Create Redis cache container
  ansible.builtin.include_tasks: nb_service.yml
  vars:
    netbox_srv_svc_key: 'redis-cache'
  when: netbox_srv_redis_cache_instance is false

- name: Enable Netbox systemd service
  ansible.builtin.systemd:
    name: "{{ netbox_srv_netbox_name }}"
    daemon_reload: true
    state: started
    enabled: true
  when: not ansible_check_mode
