ALLOWED_HOSTS=host.containers.internal localhost {{ netbox_srv_netbox_name }}{% if netbox_srv_allowed_hosts is defined %} {{ netbox_srv_allowed_hosts }}{% endif %}
CORS_ORIGIN_ALLOW_ALL=True
DB_HOST={{ netbox_srv_svcs['pgsql'].name }}
DB_NAME={{ netbox_srv_postgres_db }}
DB_PASSWORD={{ netbox_srv_postgres_pw }}
DB_USER={{ netbox_srv_postgres_user }}
EMAIL_FROM=netbox@bar.com
EMAIL_PASSWORD=
EMAIL_PORT=25
EMAIL_SERVER=localhost
EMAIL_SSL_CERTFILE=
EMAIL_SSL_KEYFILE=
EMAIL_TIMEOUT=5
EMAIL_USERNAME=netbox
# EMAIL_USE_SSL and EMAIL_USE_TLS are mutually exclusive
EMAIL_USE_SSL=false
EMAIL_USE_TLS=false
GRAPHQL_ENABLED=true
MEDIA_ROOT=/opt/netbox/netbox/media
METRICS_ENABLED=false
REDIS_CACHE_DATABASE=1
REDIS_CACHE_HOST={{ netbox_srv_svcs['redis-cache'].name }}
REDIS_CACHE_INSECURE_SKIP_TLS_VERIFY=false
REDIS_CACHE_PASSWORD={{ netbox_srv_svcs['redis-cache'].password }}
REDIS_CACHE_SSL=false
REDIS_DATABASE=1
REDIS_HOST={{ netbox_srv_svcs['redis'].name }}
REDIS_INSECURE_SKIP_TLS_VERIFY=false
REDIS_PASSWORD={{ netbox_srv_svcs['redis']['password'] }}
REDIS_SSL=false
RELEASE_CHECK_URL=https://api.github.com/repos/netbox-community/netbox/releases
SECRET_KEY='{{ netbox_srv_secret_key}}'
{% if netbox_srv_netbox_rootpw is defined %}
SKIP_SUPERUSER=false
SUPERUSER_NAME=root
SUPERUSER_PASSWORD={{ netbox_srv_netbox_rootpw }}
{% else %}
SKIP_SUPERUSER=true
{% endif %}
WEBHOOKS_ENABLED=true
