---
- name: Restart netbox
  ansible.builtin.service:
    name: "{{ netbox_srv_netbox_name }}"
    state: restarted

- name: Restart redis
  ansible.builtin.service:
    name: "{{ netbox_srv_svcs['redis'].name }}"
    state: restarted

- name: Restart redis-cache
  ansible.builtin.service:
    name: "{{ netbox_srv_svcs['redis-cache'].name }}"
    state: restarted

- name: Restart pgsql
  ansible.builtin.service:
    name: "{{ netbox_srv_svcs['pgsql'].name }}"
    state: restarted
