<Location {{ item.location }}>
        Require valid-user
        AuthType openid-connect
        WSGIPassAuthorization on
        RequestHeader set "X-Forwarded-Proto" "https"
        ProxyPass {{ item.proxy_tgt }}
        ProxyPassReverse {{ item.proxy_tgt }}
</Location>
{% if item.extra_cfg is defined %}
{% for cfg in item.extra_cfg %}
{{ cfg }}
{% endfor %}{% endif %}
